#title_back {
    text-align: center;
}

#title_back img {
    width: 700px;
    height: 130px;

}

#title_text{
    font-size: 50px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
}

